<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlBackupAndRestore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SqlBackupAndRestore.Properties.Settings>
            <setting name="SqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlIntegratedSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestoreDestinationDatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupSourceDatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreSourceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupDestinationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AssociateBackupFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </SqlBackupAndRestore.Properties.Settings>
    </userSettings>
</configuration>